/* common CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}
.logo {
  width: 80px;
}

:root {
  --PrimaryColor: #3c354f;
  --secondaryColor: #ff42a5;
}

/* buttton desgn */

.btn-primary {
  padding: 21px 40px;
  border-radius: 48px;
  background: var(--secondaryColor);
  color: #fff;

  font-size: 20px;

  font-weight: 600;

  text-transform: uppercase;
  border: 0px;
}

.btn-secondary {
  padding: 21px 40px;
  border-radius: 48px;
  background: #4ec5f7;
  color: #fff;

  font-size: 20px;

  font-weight: 600;

  text-transform: uppercase;
  border: 0px;
}

.sub-heading {
  color: #0b0223;
  text-align: center;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
}

/* nav design */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 130px;

  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.nav-title > span {
  color: var(--secondaryColor);
}

.nav-title {
  text-align: center;
  font-size: 45px;
  font-weight: 700;
  color: #0b0223;
}

.gaming-img-nav {
  display: flex;
  gap: 20px;
}

.others-pages {
  display: flex;
  gap: 32px;
  justify-content: space-between;
  align-items: center;
}

.site-links ul {
  display: flex;
  gap: 32px;
}

.site-links ul > li {
  list-style: none;
  /* color: var(--PrimaryColor); */
  color: #3c354f;
}

.site-links ul > li > a {
  text-decoration: none;
}

.social-media-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  width: 262px;
  height: 56px;
}

.social-media-links img {
  width: 1.5rem;
}

/*  headidng banner */

.banner-section {
  display: flex;
  height: 700px;
  max-width: calc(100%-240px);
  margin-right: 240px;
  gap: 68px;
}

.text-part {
  background-image: url("./images/Group14.png");
  fill: linear-gradient(
    223deg,
    rgba(140, 87, 238, 0.03) 0%,
    rgba(241, 68, 174, 0.03) 100%
  );
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;

  border: 1px solid red;
  width: 50%;
}

/* .only-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(53, 6, 6);
} */

.content-text {
  border: 1px solid black;
  margin-top: 150px;
  margin-left: 30px;
}

.image-part {
  /* margin-right: 111px;
  width: 100px;
  border: 1px solid red; */

  border: 1px solid rgb(41, 36, 99);
  width: 50%;
}

.heading {
  text-align: center;

  font-size: 95px;

  font-weight: 800;

  text-transform: uppercase;

  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.para {
  color: #534c64;
  text-align: left;
  font-family: Work Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: lowercase;
  margin-left: 70px;
  padding-top: 10px;
}

.banner-btn {
  margin-left: 55px;
  margin-top: 50px;
}
