/* common CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}
.logo {
  width: 80px;
}

:root {
  --PrimaryColor: #3c354f;
  --secondaryColor: #ff42a5;
}

/* buttton desgn */

.btn-primary {
  padding: 21px 40px;
  border-radius: 48px;
  background: var(--secondaryColor);
  color: #fff;

  font-size: 20px;

  font-weight: 600;

  text-transform: uppercase;
  border: 0px;
}

.btn-secondary {
  padding: 21px 40px;
  border-radius: 48px;
  background: #4ec5f7;
  color: #fff;

  font-size: 20px;

  font-weight: 600;

  text-transform: uppercase;
  border: 0px;
}

.para {
  color: #534c64;

  font-size: 20px;

  font-weight: 500;

  text-transform: lowercase;
  margin-left: 70px;
  padding-top: 10px;
}

.sub-heading {
  color: #0b0223;
  /* text-align: center; */
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
}

/* nav design */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 130px;

  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.nav-title > span {
  color: var(--secondaryColor);
}

.nav-title {
  text-align: center;
  font-size: 45px;
  font-weight: 700;
  color: #0b0223;
}

.gaming-img-nav {
  display: flex;
  gap: 20px;
}

.others-pages {
  display: flex;
  gap: 32px;
  justify-content: space-between;
  align-items: center;
}

.site-links ul {
  display: flex;
  gap: 32px;
}

.site-links ul > li {
  list-style: none;
  /* color: var(--PrimaryColor); */
  color: #3c354f;
}

.site-links ul > li > a {
  text-decoration: none;
}

.social-media-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  width: 262px;
  height: 56px;
}

.social-media-links img {
  width: 1.5rem;
}

/*  headidng banner */

.banner-section {
  display: flex;
  height: 700px;
  max-width: calc(100%-240px);
  margin-right: 240px;
  gap: 68px;
}

.banner-heading {
  text-align: center;
}

.text-part {
  background-image: url("./images/Group14.png");
  fill: linear-gradient(
    223deg,
    rgba(140, 87, 238, 0.03) 0%,
    rgba(241, 68, 174, 0.03) 100%
  );
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;

  /* border: 1px solid red; */
  width: 50%;
}

/* .only-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(53, 6, 6);
} */

.content-text {
  /* border: 1px solid black; */
  margin-top: 150px;
  margin-left: 30px;
}

.image-part {
  /* margin-right: 111px;
  width: 100px;
  border: 1px solid red; */

  /* border: 1px solid rgb(41, 36, 99); */
  width: 50%;
}

.heading {
  text-align: center;

  font-size: 95px;

  font-weight: 800;

  text-transform: uppercase;

  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.banner-para {
  text-align: left;
}
.banner-btn {
  margin-left: 55px;
  margin-top: 50px;
}

/* gaming-section */

.gaming-section {
  margin-top: 100px;
}

.game-heading {
  text-align: center;
}

.gamming-para-text {
  text-align: center;
  margin-top: 5px;
}

.game-span {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  /* margin: px; */
}

.pic-1 {
  position: relative;
  background-image: url("./images/Rectangle4.png");
  width: 250px;
  height: 250px;
  padding-bottom: calc(250px / 250px * 100%); /* Maintain aspect ratio */
  border-radius: 16px;

  margin-bottom: 20px;
  margin-top: 30px;
  background-size: cover;
  overflow: hidden;
}
.pic-2 {
  position: relative;
  background-image: url("./images/Rectangle5.png");
  width: 250px;
  height: 250px;
  padding-bottom: calc(250px / 250px * 100%); /* Maintain aspect ratio */
  border-radius: 16px;

  margin-bottom: 20px;
  margin-top: 30px;
  background-size: cover;
  overflow: hidden;
}
.pic-3 {
  position: relative;
  background-image: url("./images/Rectangle6.png");
  width: 250px;
  height: 250px;
  padding-bottom: calc(250px / 250px * 100%); /* Maintain aspect ratio */
  border-radius: 16px;

  margin-bottom: 20px;
  margin-top: 30px;
  background-size: cover;
  overflow: hidden;
}
.pic-4 {
  position: relative;
  background-image: url("./images/Rectangle7.png");
  width: 250px;
  height: 250px;
  padding-bottom: calc(250px / 250px * 100%); /* Maintain aspect ratio */
  border-radius: 16px;

  margin-bottom: 20px;
  margin-top: 30px;
  background-size: cover;
  overflow: hidden;
}

.pic-1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Black transparent overlay */
  opacity: 0;
  transition: opacity 0.3s ease;
}

.pic-1:hover::before {
  opacity: 1;
}

.caption-section {
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  align-items: left;
  justify-content: center;
}

.pic-caption {
  margin: 10px;
  text-align: left;
  margin: 20px;
}

/* play-instantly section */

.play-instantly-text {
  /* border: 1px solid rebeccapurple; */
}
.play-instantly {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 120px;
}

.instantly-text-heading {
  color: var(--secondaryColor);
}

.instantly-text-p {
  text-align: right;
}

.play-instantly-img {
  position: relative;
}

.small-img {
  position: relative;
  border-radius: 8px;
  margin-top: -304px;
  margin-left: -48px;
}

.instantly-p {
  text-align: end;
}

/* game box design  */

.game-box-section {
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
  height: 427px;
  margin-top: 120px;
  /* display: flex;
  justify-content: center; */
}
.game-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 27px;
  flex-wrap: wrap;
  padding-top: 120px;
}

.box-1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 16px;
  width: 243px;
  height: 80px;
  border-radius: 50px;
  background: #fff;
}

.box-p {
  color: #0b0223;
  font-size: 15px;
  font-weight: 600;
}
.box-1:hover {
  border: 2px solid var(--secondaryColor);
  color: var(--secondaryColor);
}

.box-1:hover .box-p {
  border: none;
  color: var(--secondaryColor);
}

/* footer-section */
.footer-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 636px;
  background: #0b0223;
  flex-direction: column;
}

.copywright > p {
  color: rgba(255, 255, 255, 0.6);
  margin-top: 28px;
}

.foot-title {
  text-align: center;
  font-size: 45px;
  font-weight: 700;
  color: #ffff;
}

.gaming-img-foot {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  margin-bottom: 60px;
}

.gamer-foot {
  color: var(--secondaryColor);
}

.foot-tag ul {
  display: flex;
  justify-content: space-evenly;
  gap: 60px;
  color: white;
}
.foot-tag ul > li {
  /* display: flex; */
  color: white;
  list-style: none;
}
.foot-tag ul > li > a {
  /* display: flex; */
  color: white;
  /* list-style: none; */
  text-decoration: none;
}

.termsCon-foot ul {
  display: flex;
  justify-content: space-evenly;
  gap: 60px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
}
.termsCon-foot ul > li {
  list-style: none;
  justify-content: space-evenly;
  gap: 60px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
}
.termsCon-foot ul > li > a {
  text-decoration: none;
  gap: 60px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  margin-bottom: 28px;
}

.logo-foot {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-bottom: 70px;
  margin-top: 50px;
}

.logo-foot img {
  width: 50px;
}

/* Styles for mobile devices */
@media screen and (max-width: 576px) {
  body {
    /* max-width: 550px; */
  }
  header {
    border: 1px solid blue;
    /* width: 575px; */
  }
  nav {
    flex-direction: column;
    /* width: 700px; */
    border: 1px solid red;
    margin-top: 103px;
    background: none;
    box-shadow: none;
  }

  .others-pages {
    flex-direction: column;
  }
  .site-links ul {
    flex-direction: column;
    margin-top: 50px;
  }
  .banner-section {
    flex-direction: column-reverse;
    /* width: 300%; */
    margin-top: 614px;
  }
  .banner-img {
    width: 500px;
    border: 1px solid black;
    margin-top: -189px;
    position: absolute;
  }

  .banner-para {
    margin-left: 161px;
  }
  .banner-btn {
    margin-left: 116px;
  }
  .gaming-section {
    /* width: 700px; */
  }

  .game-heading {
    text-align: center;
    font-size: 1.5rem;
  }

  .gamming-para-text {
    text-align: center;
    /* margin-top: 5px; */
    font-size: 0.8rem;
  }

  .card-section {
    flex-direction: column;
  }

  .play-instantly {
    flex-direction: column-reverse;
  }
  .instantly-text-p {
    text-align: center;
  }
  .instantly-p {
    text-align: center;
  }

  .play-instantly-img {
    width: 300px;
  }

  .big-img {
    width: 367px;
    margin-left: 50px;
  }

  .small-img {
    position: relative;
    /* border-radius: 8px; */
    margin-bottom: -16px;
    margin-left: -6px;
    width: 164px;
  }

  .game-box {
    width: 500px;
  }

  .instantly-p {
    text-align: center;
    font-size: 1.5rem;
    white-space: pre-line;
  }
}
